<div class='copy'>
    <p>&copy; Copyright 2022 Daniel Vidar Holm </p>
</div>
<div class='flex just-evenly'>
    <div>
        <h4>Contact Info</h4>
        <ul>
            <li>
                <a class='contact' href='tel:+4512345678'>+45 12 34 56 78</a>
            </li>
            <li>
                <a class='contact' href='https://goo.gl/maps/4dbuCWXvm3xQ6XzF7'>Emmasvej 72, Brabrand, 8220</a>
            </li>
            <li>
                <a class='contact' href='mailto:someguy345@outlook.com'>someguy345@outlook.com</a>
            </li>
        </ul>
    </div>
    <div>
        <h4>Contact Info</h4>
        <ul>
            <li>
                <a class='contact' href='tel:+4512345678'>+45 12 34 56 78</a>
            </li>
            <li>
                <a class='contact' href='https://goo.gl/maps/4dbuCWXvm3xQ6XzF7'>Emmasvej 72, Brabrand, 8220</a>
            </li>
            <li>
                <a class='contact' href='mailto:someguy345@outlook.com'>someguy345@outlook.com</a>
            </li>
        </ul>
    </div>
    <div>
        <h4>Contact Info</h4>
        <ul>
            <li>
                <a class='contact' href='tel:+4512345678'>+45 12 34 56 78</a>
            </li>
            <li>
                <a class='contact' href='https://goo.gl/maps/4dbuCWXvm3xQ6XzF7'>Emmasvej 72, Brabrand, 8220</a>
            </li>
            <li>
                <a class='contact' href='mailto:someguy345@outlook.com'>someguy345@outlook.com</a>
            </li>
        </ul>
    </div>
</div>
