<nav class='nav nav-main'>
    <div class='nav nav-over'>
        <ul class='nav navbar'>
            <li>
                <a class='contact ms-2' href='tel:+4512345678'>+45 12 34 56 78</a>
            </li>
            <li>
                <a class='contact ms-2' href='https://goo.gl/maps/4dbuCWXvm3xQ6XzF7'>Emmasvej 72, Brabrand, 8220</a>
            </li>
            <li>
                <a class='contact ms-2' href='mailto:someguy345@outlook.com'>someguy345@outlook.com</a>
            </li>
        </ul>
    </div>
    <div class='nav nav-under'>
        
        <ul class='nav navbar w-60 ms-2'>
            <li>
                <a class='title' href='/'>Hair Fashion</a>
            </li>
        </ul>
        <ul class='nav navbar just-between w-30'>
            <li>
                <a href='/'>Home</a>
            </li>
            <li>
                <a href='/about'>About</a>
            </li>
            <li>
                <a href='/gallery'>Gallery</a>
            </li>
            <li>
                <a href='/booking'>Booking</a>
            </li>
        </ul>
    </div>
</nav>