<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>

        <main>

            <section class='banner'>
                <div class='introduction'>
                    <h1>Velkommentil hairfashion</h1>
                    <div class='styled-p'>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus vitae turpis id tempor. Interdum et malesuada fames ac ante ipsum primis</p>
                        <div class='flex'>
                            <a href='#' class='button'>Book Tid Nu</a>
                            <a href='#' class='button'>Kontakt Salonnen</a>
                        <div>
                    </div>
                    
                </div>
            </section>

            <section class="container">
                <div class='flex gap-5 just-center'>
                    <div>
                        <img src='http://placekitten.com/400/600'>
                    </div>
                    <div class='min'>
                        <h2>Hair Fashion</h2>
                        <span>- Vores eksistens</span>
                        <p>
                            I sommeren 2013, i en baggård midt i hjertet af Aarhus blev Hair Fashion til. Frisørsalonen Hair Fashion blev skabt for at danne rammer om et kreativt fællesskab for selvstændige frisører. Teamet af frisører i Hair Fashion består af individuelle personligheder, som alle deler en stor begejstring og passion for faget.
                        </p>
                        <p>
                            Det er vigtigt for os, at vi kontinuerligt kan forbedre vores færdigheder og udvikle vores håndværk. Derfor lægger vi stor vægt på, at vi og vores kunder er i omgivelser, der giver fysisk og psykisk giver plads til at fokusere på nuet og slippe hverdagens stres. Så kan vi som frisører fordybe os i den kreative proces, og du kan slappe af med lækker kaffe eller the, modemagasiner og skøn stemningsmusik.
                        </p>
                        <p>
                            Hair Fashion byder velkommen i et gammelt rustikt mekanikerværksted i Mejlgade, fyldt med charme og hjemlig stemning, hvor vores fokus på hår og høj kvalitet går hånd i hån
                        </p>
                    </div>
                </div>
            </section>
            <section class='random'>
                <div class='w-25'>
                    <div class='min'>
                        <h2>Hair Fashion</h2>
                        <span>- Vores eksistens</span>
                        <p>
                            I sommeren 2013, i en baggård midt i hjertet af Aarhus blev Hair Fashion til. Frisørsalonen Hair Fashion blev skabt for at danne rammer om et kreativt fællesskab for selvstændige frisører. Teamet af frisører i Hair Fashion består af individuelle personligheder, som alle deler en stor begejstring og passion for faget.
                        </p>
                        <p>
                            Det er vigtigt for os, at vi kontinuerligt kan forbedre vores færdigheder og udvikle vores håndværk. Derfor lægger vi stor vægt på, at vi og vores kunder er i omgivelser, der giver fysisk og psykisk giver plads til at fokusere på nuet og slippe hverdagens stres. Så kan vi som frisører fordybe os i den kreative proces, og du kan slappe af med lækker kaffe eller the, modemagasiner og skøn stemningsmusik.
                        </p>
                        <p>
                            Hair Fashion byder velkommen i et gammelt rustikt mekanikerværksted i Mejlgade, fyldt med charme og hjemlig stemning, hvor vores fokus på hår og høj kvalitet går hånd i hån
                        </p>
                    </div>
                </div>
                <div class='carousel-container'>
                    <div class="your-class">
                        <img src='http://placekitten.com/400/600'>
                        <img src='http://placekitten.com/400/600'>
                        <img src='http://placekitten.com/400/600'>
                        <img src='http://placekitten.com/400/600'>
                        <img src='http://placekitten.com/400/600'>
                        <img src='http://placekitten.com/400/600'>
                        <img src='http://placekitten.com/400/600'>
                        <img src='http://placekitten.com/400/600'>
                        <img src='http://placekitten.com/400/600'>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <%- include('../partials/footer') %>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('.your-class').slick();
                });
              </script>
        </footer>
        
        
    </body>
</html>